@import url('https://fonts.googleapis.com/css2? family= Poppins & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Josefin+Sans &famille= Nerko+One & display=swap');


html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: #EEE3D0;
    overflow-x: hidden;
    background-image: url(../image/jsp.png);
    background-repeat: repeat;
}

body{
    height: 90vh ;
    width: 100vw;
   
}

header{
    width: 100%;
    height: 8vh;
    position : fixed;
    z-index: 2;
   font-size: 28px;
   font-weight: bold;
    
}

header div a {
    font-family: "Nerko One" ;
    
    transition: .7s ;
 }

 header, a:hover{
    transform: scale(1.08);
 }



a{
    text-decoration: none;
    color: black;
}




header div{
    width: 33vw;
    text-align: center;
}

a:hover{
    text-decoration: underline;
    color:  #FA8072;
    font-size: 30px;
    
}


#logo{
    position: fixed;
    top: 0;
    left: 34vw;
    height: 35vh;
    
   
}

#logo img{
    height: 60%;
}

#gauche {
    word-spacing: 5vw;
    margin-top: 4vh;
    float:left;
    margin-left: 5vw;
}

#droite{

    float: right;
    margin-top: 4vh;
    margin-right: 5vw;

}

#droite #apropos{
   margin-right: 5vw;
}

#gauche #ounoustrouver {
    word-spacing: 0;
}

#droite #ounoustrouver {
    word-spacing: 0;
}
#apropos{
    word-spacing: 0;
   
}

#menus{
    color:#FA8072;
}


/*/////////////////////////////////////////////SECTION//////////////////////////////////*/

.section {
    height: 100vh;
    padding-top: 19vh;
    width: 100vw;
    
}

.container{


    display: inline-block;
    margin: 3vw;
    margin-top: 8vh;
    max-width: 100%;

}

article{
    width:94vw;
    background-color: transparent;
    border-radius : 16px;
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    height: 60vh;
    background-color:#FA8072;

}


article .contenu{
    padding : 16px;
    color: #000;
}

h2 {
    margin-top: 0%;
    font-family: "Nerko One", cursive ;
    font-size: 80px;
    text-align: center;
    
} 

article .article-contenu{
    color:black;
}

p{
    text-align: center;
    font-size: 40px;
    font-family: "Nerko One" ;

}

#f4{
    width: 61vw;
    float: left;
    color: white;
    text-align: right;
    padding: 0.5vh 0 0 0;
    padding-right: 50px;
}

#f4 a:nth-child(2) {
    margin: 0 80px;
}

.logos:first-child{
    width: 10%;
    height: 10%;
}

/*////////////////////////////////////////////////transition/////////////////////////////////*/

.transition{

    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background:  #FA8072;
    animation: .5s transi forwards;
    z-index: 999;

}

@keyframes transi {

    0% {
        opacity: 1;
        left: 0;
    }
    
    50%{
        opacity: 0.9;
    }

    100%{
        opacity: 0;
        left: 100vw;
    }
}


/*////////////////////////////////////////////////Footer/////////////////////////////////*/


footer{
    position: fixed;
    background-color: #000;
    opacity: .8;
    height: 4vh;
    width: 100vw;
    top: 96vh;
    
}

#f1{
    width: 33vw;
    color: white;
    float: left;
    padding: 0.5vH 0 0 1.5vw;
 
}

#f2{
    width: 33vw;
    color: white;
    float: left;
    text-align: center;

    padding: 0.5vh 0 0 0;
}

#f3{
    width: 25vw;
    float: left;
    color: white;
    text-align: right;
    padding: 0.5vh 0 0 0;
    padding-right: 50px;
}


.logo{
    width: 3vh;
    height: 3vh;

}

#f3 a:nth-child(2) {
    margin: 0 80px;
}

/*//////////////////////////////////////////////////////Javascipt/////////////////////////////*/

button{ 
    width: 8vw;
    height: 10vh;
    border: 1px white solid;
    background-color: rgba(255, 255, 255, 0.627);
    font-family:  "Nerko One";
    margin-bottom: 20vh;
    float: right;
}

button:hover{
    background-color: white;
    cursor: pointer;

}

article button{
    margin-top: -20px;
}





article{
    padding: 20px 0 0 20px;
}


.contenu{
    margin-top: 100px;
    height : 200px;

}


h3{
    font-size: 26px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black, 0 0 1em pink, 0 0 0.2em pink;
}

.sauces{
    font-size: 20px;
    text-align: justify;
    text-decoration: underline;
    margin-top: -2vh;
}


.ingredients{
    height: 30vh;
    float: right;
    margin-top: -15vh;
    font-size: 16px;
    text-align: justify;

}


.menucomplet{
 float: right;
  margin-top: -26vh;
margin-right: 6vw;
    height: 65vh;
    width: 35vw;
}


.centre{
    text-align: center;
    padding-left: 6vw;
    width: 50vw;
}

.infos{
    font-size: 46px;
    text-align: center;
}



.transitionboite{

    position: absolute;
    left: 0;
    top: 0;
    width:94vw;
    height: 63vh;
    margin-top: 27vh;
    background:  #FA8072;
    animation: .5s transiboite forwards;
    z-index: 999;
    

}

@keyframes transiboite {

    0% {
        opacity: 1;
        left: 0;
    }
    
    50%{
        opacity: 0.9;
    }

    100%{
        opacity: 0;
        left: 100vw;
    }
}
